<nav class="bg-gradient-to-r from-indigo-500 to-purple-600 shadow-md p-4">
  <ul class="flex space-x-6 text-white text-lg font-medium">
    <li>
      <a
        href="../index.html"
        data-type="link"
        data-actions="click"
        aria-label="Go to Main"
        class="hover:underline"
      >Main</a>
    </li>
    <li>
      <a
        href="../pages/home.html"
        data-type="link"
        data-actions="click"
        aria-label="Go to Home"
        class="hover:underline"
      >Home</a>
    </li>
    <li>
      <a
        href="../pages/catalog.html"
        data-type="link"
        data-actions="click"
        aria-label="Go to Catalog"
        class="hover:underline"
      >Catalog</a>
    </li>
    <li>
      <a
        href="../pages/settings.html"
        data-type="link"
        data-actions="click"
        aria-label="Go to Settings"
        class="hover:underline"
      >Settings</a>
    </li>
    <li>
      <a
        href="../pages/data-table.html"
        data-type="link"
        data-actions="click"
        aria-label="Go to Data Table"
        class="hover:underline"
      >Data Table</a>
    </li>
  </ul>
</nav>
